html, body{
    font-family: 'Sofia Sans', sans-serif !important; 
    margin: 0;
    scroll-behavior: smooth !important;
    overflow-x: hidden !important;
    
  }

.wrapper{
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), center fixed url('./assets/wallpaper.jpg');
  height: 100vh;
  background-size: cover;
  opacity: 1;
}

.wrapper2{
  background: linear-gradient(
    rgba(0, 0, 0, 0.823),
    rgba(0, 0, 0, 0.5)
  ), center fixed url('./assets/wallpaper2.jpg');
  height: 100vh;
  background-size: cover;
  opacity: 1;
}


.titulo{
  font-size: 4rem;
  text-align: center;
  padding-top: 200px;
  color:white;
  text-shadow: 0 0 5px black;
}

.headerButton{
  text-decoration: none !important;
  font-size: 1.5rem !important;
  
  

}

.backgroundPlans{
  background-color: rgb(220, 220, 220);
}
.backgroundInicial{
  
  height: 1000px;
}

.cardcito{
  cursor: pointer;
}
.cardcito:hover{
  border: 1px solid #6F3AFF ;
  
}


.cardPlan{
  width: 400px !important;
}

ul {
  list-style-type: none;
  padding-right: 2rem;
}

.descuentoPlans{
  font-size: 12px;
  margin-top: 10px;
}
.precioOficialPlans{
  font-size: 22px;
}
@media all and (min-width: 1440px) and (max-width: 4096px) {
  .titulo{
    font-size: 4rem;
    text-align: center;
    padding-top: 450px;
    color:white !important;
    text-shadow: 0 0 5px black;
  }
  .headerButton{
    text-decoration: none !important;
    font-size: 1.5rem !important;
  }

  form.w-100{
    padding-top: 4rem !important;
    margin-top: 4rem !important;
  }
}

@media all and (min-width: 768px) and (max-width: 1365px) {
  .titulo{
    font-size: 4rem;
    text-align: center;
    padding-top: 450px;
    color:white !important;
    text-shadow: 0 0 5px black;
  }
  
  .headerButton{
    text-decoration: none !important;
    font-size: 1.5rem !important;
  }

  form.w-100{
    padding-top: 4rem !important;
    margin-top: 4rem !important;
  }
}

@media all and (min-width: 375px) and (max-width: 414px) {

  form.w-100{
    padding-top: 2rem !important;
    margin-top: 2rem !important;
  }
}

/* CSS servicios */
.title-services{
  margin: 1rem 1rem;
}

.hr-services{
  margin: auto;
  margin-bottom: 1rem;
  width: 60%;
  border-width: 2px;
  color: black;
}
.hr-titles{
  margin: auto;
  margin-bottom: 1rem;
  width: 60%;
  border-width: 2px;
  color: #6F3AFF;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titles{
  color: #6F3AFF !important;
  cursor: pointer;
}
p { max-width: 75ch }

.btn-light:hover{
  color:#6F3AFF !important;
 
}

.borderInputs{
  border: 1px solid #6F3AFF;
  
}
.borderInputs:focus{
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  
}


.btn-primary{
  background-color: #6F3AFF !important;
  border-color: #6F3AFF !important;
}
.btn-primary:hover{
  background-color: #8559fc !important;
  color: #ccc;
  border-color: #6F3AFF !important;
}


.bg-info{
  background-color: #6F3AFF !important;
}

.logoFacebook{
  width: 38px;
}
.logoFacebook:hover{
  filter: grayscale(90%);
}
.logoInstagram{
  width: 45px;
}
.logoInstagram:hover{
  filter: grayscale(90%);
}

.logoAintech{
  width: 50px;
}
.logoAintech:hover{
  filter: grayscale(90%);
  cursor: pointer;
}
.nav-link:hover{
  color:#6F3AFF !important;
  border-bottom: 1px solid #8559fc;
}

.backgroundNav{
  background-color: #8559fc;
}
